.expense-date {
    display: flex;
    flex-direction: column;
    width: 5rem;
    border: 1px solid #fff;
    border-radius: 5px;
    align-items: center;
    padding: 10px 0;
    background-color: #4dabf5;
}

.expense-date__month,
.expense-date__year {
    font-weight: bolder;
}

.expense-date__day {
    padding: 8px 0;
}

@media screen and (max-width: 560px) {
    .expense-date {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 8px;
      width: 10rem;
    }
  }