.expenseForm__control {
    width: 40%;
    display: inline-block;
    margin: 0 1.5rem;
    padding: 1rem 0
}
.expenseForm__control input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #039be5;
}